language: cpp
compiler:
  - gcc
before_script:
  - sudo apt-get -y install subversion
  - make dependencies
script: time make V=1 ia32.debug
after_script:
  - du -sh out/ia32.debug/obj.target/v8_*
notifications:
  webhooks:
    - http://rcmp.programble.co.cc/irc.tenthbit.net/programming
  email:
    on_success: change
    on_failure: always
    
